@charset "UTF-8";     /* define the character encoding early */

/* CSS Stylesheet for North Canterbury Chess | http://www.northcanterburychess.com
    Heights in em's  ( therefore scaleable with font)
    Widths in %
    Typography in em's
----------------------------------------------------------------------------- */


/************************************************************************************
All sizes
*************************************************************************************/

/* pagewrap */
	#pagewrap {
		width: 98%;
        margin: 0 auto;
	}

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	/* main nav */
	#main-nav a {
		font-size: 125%;
		padding: 0.625em 0.5em;
	}

/************************************************************************************
up to 420 px
*************************************************************************************/
@media screen and (max-width: 419px) {

    body {
    	font-size: .80em;
    }

/* Navigation change to vertical */
#main-nav    {
	background: #FFF url(../images/Mobilemenubackground.png);
    font-size: 100%;
}

#main-nav li {
	float: none;
}
#main-nav li:first-child {
	margin-left: 0;
}

/* Content */
	#content {
		width: auto;
		float: none;
        padding: 0.5em;
        margin: 0.75em 0 0.75em 0;
	}

    #calendar   {
        margin: 0.75em 0;
    }

    #calendar table {
        font-size: 0.9em;
    }

/* Sidebar */
	#sidebar {
		width: auto;
		float: none;
        margin: 0.625em auto;
        font-size: 130%;
	}

	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 0.625em 0;
	}
}

/************************************************************************************
up to 650 px
*************************************************************************************/
@media screen and (min-width: 420px) and (max-width: 649px) {

/* Header */
    #header h1,h2  {
    font-size: 200%;
}

/* Content */
	#content {
		width: auto;
		float: none;
        margin: 0.75em 0 0.75em 0;
        font-size: 125%;
	}

    q   {
        font-size: 1em;
    }

    #calendar table {
        font-size: 0.8em;
    }


/* Navigation change to vertical */
#main-nav    {
	background: #FFF url(../images/Mobilemenubackground.png);
}

#main-nav li {
	float: none;
}
#main-nav li:first-child {
	margin-left: 0;
}

/* Sidebar */
	#sidebar {
		width: auto;
		float: none;
        margin: 0.625em auto;
        font-size: 130%;
	}

    #sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 0.625em 0;
	}

}

/************************************************************************************
larger than 650px
*************************************************************************************/
@media screen and (min-width: 650px) {

/* Content */
	#content {
		width: 70%;
		padding: 3% 2%;
        float: left;
        font-size: 120%;
	}

    q   {
        font-size: 1em;
    }

/* sidebar */
	#sidebar {
		width: 24%;
        float: right;
	}

    #sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 0.625em;
	}

}

/************************************************************************************
Everything else - i.e. larger than 775
*************************************************************************************/
@media screen and (min-width: 775px) {

/* Content */
	#content {
        font-size: 125%;
	}

/* Sidebar */
	#sidebar {
		font-size: 125%;
	}
}

/************************************************************************************
Everything else - i.e. larger than 980
*************************************************************************************/
@media screen and (min-width: 980px) {

/* Header */
    #header h1 { font-size: 275%;}
    #header h2 { font-size: 125%;}
    #header { height: 14em;}

/* Content */
	#content {
		width: 66%;
		padding: 3% 4%;
        font-size: 150%;
	}

/* Sidebar */
	#sidebar {
		width: 24%;
		font-size: 150%;
	}

	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}
}

/************************************************************************************
Everything larger than 1220
*************************************************************************************/
@media screen and (min-width: 1220px) {

/* Content */
    #content {
        font-size: 160%;
    }
}
