/*
Design by Scriptus Web Design
http://www.scriptus.co.nz
*/

/* One Off Elements */


/*  Table for historical results  */

.Histtable    {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5em;
    padding: 1em;
    background:#D8D876;
    border: 2px solid #BCBC6B;
    border-radius: 15px;
    font-size: 0.9em;
}

.Histtable   th, tr  {
    text-align: center;
    height: 2.5em; 
    background: #E9E91D;
    border: 1px solid #a5a5a5;
}

.Histtable   tr  {
    background:#f9f9f9;
}

.Histtable   td  {
    text-align: left;
    height: 2em; 
    border: 1px solid #BCBC6B;
    padding: 0 2em 0 1em;
}

.Histtable tr:hover {
    background: #EDFFA8;
}

 /* first column = year */
.Histtable tr > td:first-child {
    width: 5%;
    padding-left: 1em;
    text-align: center;
}

/* second column  = Winner Name */
.Histtable tr > td:nth-of-type(2) {
    padding-left: 0.5em;
    text-align: left;
    width: 55%;
}

 /* third column = Runner Up Name */
.Histtable tr > td:nth-of-type(3){
    padding-left: 0.5em;
    text-align: left;
    width: 40%;
}


/*  Table for Ratings data  */

.Rattable    {
    max-width: 80%;
    background: #dadaff;
    padding: 1em;
    border: 2px solid #bfbfff;
    border-radius: 15px;
    opacity:0.95;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75em;
}

.Rattable th  {
    text-align: center;
    height: 2.5em; 
    font-size: 1em;
    border: 1px solid #bfbfff;
    background: #c9c9FF;
}

/* style all columns */
.Rattable th, tr, td   {
    border: 1px solid #bfbfff;
}

.Rattable tr > td { 
    text-align: center;
    padding-left: 1em;
    width: 5%;
}

 /* first column = NZCF number */
.Rattable tr > td:first-child { 
    padding-left: 0;
}

/* second column  = Name */
.Rattable tr > td:nth-of-type(2) { 
    padding-left: 1em;
    text-align: left;
    width: 12%;
} 

 /* third column = membership type */
.Rattable tr > td:nth-of-type(3){ 
    padding-left: 0; 
}

/* on hover = highlighting */
.Rattable tr:hover {
    background: #FFFF30;
}

.junior {
    background: #e2ffe2;
}

.adult  {
    background: #FFE896;
}

.senior  {
    background: #dbdbdb;
}