﻿@charset "UTF-8";     /* define the character encoding early */

/* CSS Stylesheet for North Canterbury Chess | http://www.northcanterburychess.com
    Heights in em's  ( therefore scaleable with font)
    Widths in %
    Typography in em's
----------------------------------------------------------------------------- */

/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
  border: 0;
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, pre {
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
/*	font: .81em/150% Futura, Trebuchet MS, Arial, sans-serif; */

  font: 0.81em/150% "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	color: #666;
}

a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* lists */
ul, ol {
	margin: 1em 0 1.4em 1.5em;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
    list-style: none;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 0.85em 0 0.4em;
	color: #000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

p {
	text-indent: 1em;
}

blockquote  {
	margin-left: 2.5em;
    margin-bottom: 1em;
}

abbr, .help {
	border-bottom: 1px dotted #333;
	cursor: help
}

/* quotes */
q   {
    font-size: 0.9em;
    color: #6A71C9;
}

attrib  {
    display: inline;
    font-size: 0.75em;
    float: right;
    padding-top: 0.5em;
}

q:before   {
    display: inline;
    font-size: 200%;
    content: "\201c";
    line-height: 0.1em;
    margin-right: 0.125em;
    vertical-align: -0.4em;
}

q:after   {
    display: inline;
    font-size: 200%;
    content: "\201d";
    line-height: 0.1em;
    margin-left: 0.125em;
    vertical-align: -0.4em;
}

/* make all links to pdf files carry a special image/icon */
a[href$='.pdf']:after   {
    content: "\00A0 \00A0 \00A0 \00A0 \00A0"
}

a[href$='.pdf'] {
    background: url(../images/pdf_icon.png) no-repeat center right;
}

/* if link contains "mailto" append special image/icon */
a[href*="mailto"]:after   {
    content: "\00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 \00A0 "
}
a[href*="mailto"] {
    background: url(../images/email_icon.png) no-repeat center right;
}

img.centre {
    display: block;     /* required to get the centering to work */
    margin-left: auto;
    margin-right: auto;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
body {
	background: #606060;
    /* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#606060));
	background: -moz-linear-gradient(top,  #d3d3d3,  #606060);
	background: linear-gradient(-90deg, #d3d3d3, #606060);
/*    background: #666 url(../images/background-main.png) ;
    background-size: 100% auto; */
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	position: relative;
	height: 12em;
}

/* Main Heading */
#header h1 {
	position: absolute;
	top: 0.75em;
	font: bold 2.25em/100% "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; ;
	color: #fff;
	text-decoration: none;
}

/* Byline or Sub Heading */
#header h2 {
	font: italic 1em/130% "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	color: #fff;
	position: absolute;
	top: 5em;
}

#NavIcon    {
    float: right;
    margin-top: 4em;
    margin-right: 2em;
    display: none;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/


/*#mob-nav {
    display: hidden;
    width: 100%;
    position: absolute;
	left: 0;
	top: 8em;
}

#mob-nav li {
	margin-top: 0;
	padding: 0;
	list-style: none;
    background: #0F0;
}
*/

#main-nav {
	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	/* gradient */
	background: #6a6a6a url(images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	/* rounded corner */
  border-radius: 0.5em;
	/* box shadow */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 1px rgba(0,0,0,.7);
}
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
#main-nav li:first-child {
	margin-left: 0.625em;
}
#main-nav a {
	line-height: 100%;
	font-weight: bold;
    font-size: 125%;
	color: #fff;
	display: block;
	padding: 0.875em 0.875em;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#main-nav a:hover {
	color: #fff;
	background: #474747;
	/* gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
}



/************************************************************************************
CONTENT
*************************************************************************************/
#content {
	background: #fff;
	margin: 1.25em 0 1.25em;
	padding: 1.25em 1.25em;
	width: 600px;
	float: left;
	/* rounded corner */
	border-radius: 0.5em;
	/* box shadow */
	box-shadow: 2px 2px 6px rgba(0,0,0,.8);
    line-height: 145%;
/*    opacity: 0.75; */
}

/* post */
.post {
	padding-bottom: 0.25em;
}

.bg-ivory   {
    background: #FFF9E8;
}

#content article header h1   { font-size: 110%;}

.post-title {
	margin: 1.25em 0 0.5em 0;
	padding: 0;
	font: bold 1.625em/120% "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
/* 	font: bold 1.625em/120% Arial, Helvetica, sans-serif; */
    line-height: 225%;
    background: #fff url(../images/post-title-bg.png) repeat-x ; ;
/*    border-bottom: 1px #6d6d6d dashed; */
}
.post-title:before {
	content: "\00A0 \00A0 \00A0"
}

.post-meta {
	margin: 0 0 0.625em;
	font-size: small;
}

/* post image */
.post-image {
	margin: 0 0 0.9375em;
}

/* article*/
article {
    margin-bottom: 2.5em;
/*    border-bottom: solid 2px #ddd; */
}

article:last-of-type   {
/*    border-bottom: none; */
}

pre {
    font-size: 0.9em;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 1em;
    overflow: auto;  /* turns on scrollbars should they be required */
}

/************************************************************************************
Calendar stylng
*************************************************************************************/
#calendar    {
	width: auto;
    max-width: 800px;
    background: #dadaff;
    margin: 0 auto 0.75em;
    padding: 0.5em 0;
    border: 0.125em solid #bbb;
    border-radius: 1em;
    opacity: 0.95;
}

#calendar table  {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}

/* first column */
#calendar table tr > td:first-child {    text-align: right;
    padding-right: 0.5em;    width: 34%;} 

#calendar table tr:hover {    background: #EDFFA8;}

/* second column */
#calendar table tr > td:first-child + td {    padding-left: 0.5em;}

.red {
    color: #F00;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 17.5em;
	float: right;
	margin: 1.25em 0 1.25em;
}
.widget {
	background: #fff;
	margin: 0 0 1.875em;
	padding: 0.625em 1.25em;
	/* rounded corner */
	border-radius: 0.5em;
	/* box shadow */
	box-shadow: 2px 2px 6px rgba(0,0,0,.8);
}

.widget_image_results    {
    background: url(../images/results_icon_32.png) no-repeat top left;
}

.widget_image_downloads    {
    background: url(../images/downloads_icon_32.png) no-repeat top left;
}

.widget_image_contacts    {
    background: url(../images/contacts_icon_32.png) no-repeat top left;
}

.widget_image_quotes    {
/*    background: url(../images/quotes_icon_32.png) no-repeat top left; */
}

.widget_image_news    {
    background: url(../images/news_icon_32.png) no-repeat top left;
}

.mainwidget {
    max-width: 60%;
    margin: 1em auto 0 auto;
}

.widget_image_motto    {
    background: url(../images/motto_icon_32.png) no-repeat top left;
}

.widget_image_quicklinks    {
    background: url(../images/quicklinks_icon_32.png) no-repeat top left;
}

.widgettitle {
	margin: 0 0 0.3125em;
    text-align: center;
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 0.375em 0;
	list-style: none;
	clear: both;
	border-bottom: solid 1px #eee;
}

#feedcontent    {font-size: 0.75em;}

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
	clear: both;
	color: #ccc;
	font-size: small;
    background: #333;
    padding: 1em;
    	/* rounded corner */
	border-radius: 0.5em;
       	/* box shadow */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.9);

    text-align: center;
}
footer a {
	color: #fff;
}

.nomobile, .nofacebook, .notwitter  {
 	position: relative;
    z-index: 10;
    float: right;
    width: 48px;        /* hard coded size */
    height: 48px;       /* hard coded size */
}

.nomobile {
    background: url(../images/nomobile.png) no-repeat;
}

.nofacebook {
    background: url(../images/nofacebook.png) no-repeat;
}

.notwitter {
    background: url(../images/notwitter.png) no-repeat;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
